<div *ngIf="personForm" class="person-form">
  <form [formGroup]="personForm">
    <div>
      <label for="firstName">First Name</label>
      <input type="text" formControlName="firstName" id="firstName">
    </div>
    <div>
      <label for="lastName">Last Name</label>
      <input type="text" formControlName="lastName" id="lastName">
    </div>
    <div>
      <label for="city">City</label>
      <input type="text" formControlName="city" id="city">
    </div>
    <div class="submit-btn">
      <button type="submit"
        class="lg btn-save"
        [class.disabled]="!personForm.valid"
        [disabled]="!personForm.valid || editing"
        (click)="addPerson()">
        Add Person
      </button>
    </div>
  </form>
</div>
